@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
html {
    scroll-behavior: auto;
}
/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', sans-serif;
    background-image: url('../images/bg4.jpg'); /* Cambia por la ruta  tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Estilos para el contenedor del loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}
#background-music {
    display: none;
}

/* Loader */
/* Contenedor del loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Loader */
.loader {
    width: 30px;
    aspect-ratio: .577;
    color: #fff; /* Loader blanco */
    display: grid;
    background:
      linear-gradient(currentColor 0 0) top   /100% 1px,
      linear-gradient(currentColor 0 0) bottom/100% 1px,
      linear-gradient(to bottom right, #0000 calc(50% - 2px), currentColor calc(50% - 1px), #0000 50%) top/100% calc(100% + 2px),
      linear-gradient(to bottom left , #0000 calc(50% - 2px), currentColor calc(50% - 1px), #0000 50%) top/100% calc(100% + 2px); 
    background-repeat: no-repeat;
    animation: l17 5s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    border: inherit;
    animation: inherit;
}

.loader::after {
    animation-duration: 3s;
}

@keyframes l17 {
    100% {transform: rotate(1turn)}
}

/* estilos para los modelos 3d */
#container3D {
    position: fixed;
    inset: 0;
    z-index: -10;
    pointer-events: none;
    width: 100%;
    height: 100vh; 
}
#container3D1{
    position: fixed;
    inset: 0;
    z-index: -10;
    pointer-events: none;
    width: 100%;
    height: 100vh; 
}
#container3D2{
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}


.volumen{
    z-index: 500;
    top: 60px !important;
}

.start-but-container {
    position: relative; 
    margin-left: 20px;  
    margin-top: 20px;  


}

/* Estilo del botón Start */
.start-but {
    background-color: #030b23; 
    color: white;
    padding: 10px 20px;
    border-radius: 32px;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-but i {
    margin-right: 8px;
}

.start-but:hover {
    background-color: #66bb6a; 
}

/* seccion 1 */
.section1 {
    height: 900px;
    position: relative; 
    display: flex;
    width: 100%;
}
.section1 .msj_flotante {
    position: absolute;
    left: 10%;
    top: 13%;
}
.section1 .msj_flotante .text {
    
    text-align: center;
    max-width: 25%;
 
}
/* Estilos para las imágenes de la nube */
.section1 .msj_flotante .nube {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 40%; 
}



/* esto es toda la seccion 2 */
.section2 {
    height: 1200PX; 
    display: flex;
    position: relative;
}
.section2 .descripcion{
    
    max-width: 45%;
    margin: 1px 10px 5px 15px;
    top: 50%;

}
.msj_flotante2 {
    position: relative;
    width: 55%; 
    height: auto;
    left: -34%;
    top: -26%;
}
.section2 .msj_flotante2 .nube2 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 300px; 
    height:250px;
}
.section2 .msj_flotante2 .text2 {
    position: absolute;
    font-size: 17px; 
    max-width: 70%;

}
/* aqui comienza la seccion 3 */
.section3 {
    height: 900px; 

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.msj_flotante3 {
    position: relative;
    top:-15% ;
  left: -15%;
  
}
.nube3 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 270px; /* Ajusta el tamaño de la imagen dentro de la sección */
    height: 270px;

}

/* Ajustes para el texto de la sección 3 */
.text3 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 18px; 
    position: absolute;
    text-align: center;
    max-width: 85%; 
}


/* Estilos para la Sección 4 */

.section4 {
    background-color: #1572b6; 
}

/* Contenedor del carrusel */

.cards-container {
    display: flex;
    align-items:end ;
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; 
    gap: 20px; 
    padding: 10px;
    scroll-behavior: smooth; 
}

.carousel {
    display: flex;
    gap: 20px;
    align-items: stretch; 
    justify-content: center; 
    width: 100%; 
}

/* Pista del carrusel que contiene las tarjetas */
.carousel-track {
    display: flex;
    transition: transform 0.5s ease; 
}

/* Estilos para las tarjetas (cards) dentro del carrusel */
.card {
    max-width:350px;
    transform: translateX(-50%);
    flex:0 0 100%; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 500px; 
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

/* Estilos para los botones de navegación del carrusel */
.carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    z-index: 100;
}

.carousel-control.prev {
    left: 10px; 
}

.carousel-control.next {
    right: 10px; 
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

.back-to-start-wrapper {
    background-color: #1572b6; 
    padding: 0;
    height: 100px;
    margin: 0;
}

.live-view {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 0;
}

.live-view:hover {
    background-color: #66bb6a;
}
.back-to-start-container {
    display: flex;
    justify-content: center; /* Centrar el botón horizontalmente */ /* Espacio entre las cards y el botón */
    width: 100%; 
    /* Asegura que ocupe todo el ancho de la sección */
}

/* Estilos del botón */
.back-to-start-button {
    background-color: #4CAF50; /* Color verde */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Sin subrayado */
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto suave al pasar el mouse */
}

.back-to-start-button:hover {
    background-color: #66bb6a; /* Color más claro cuando pasas el mouse */
}


.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}




/* Ajustes para el texto */
.text, .text2 {
    opacity: 0;
    text-align: center;
    transition: opacity 1s ease-in-out;
    font-size: 18px; /* Tamaño de texto ajustado para mejor legibilidad */
    line-height: 1.5; /* Aumentar espacio entre líneas para mejorar la legibilidad */
    color: black;
    max-width: 18%;
}


/* efecto pulso de la flecha */
@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.2);
    }
  }
  
  .next-arrow {
    color: red;
    animation: pulse 1.5s infinite ease-in-out;
    display: inline-block; /* Asegúrate de que se comporte como un elemento en línea */
    transition: transform 0.2s ease-in-out; /* Añade una transición para suavizar */
  }


/* style footer */
footer{
    z-index: 200;
}





/* responsive website mediaquery */
@media only screen and (max-width: 1024px) {
    .section1 .msj_flotante {
        left: -3%;
    }
    .section1 .msj_flotante .text {
     font-size: 14px;
    }
    /* Estilos para las imágenes de la nube */
    .section1 .msj_flotante .nube {
        max-width: 30%; 
    }
    .section2 .descripcion{
        max-width: 47%;
    }
    .msj_flotante2 {
        width: 40%; 
        left: -28%;
        top: -28%;
    }
    .section2 .msj_flotante2 .nube2 {
        max-width: 280px; 
    }
    .section2 .msj_flotante2 .text2 {
        font-size: 14px; 
        max-width: 80%;
    }

    .msj_flotante3 {
    top:-20% ;
    left: -20%;
    }
    .nube3 {
    width: 250px; 
    height: 250px;
    }
    .text3 {
    font-size: 14px; 
    }
    .volumen{
        z-index: 500;
        top: 60px;
    }
}
@media only screen and (max-width: 768px) {
    .section1 .msj_flotante {
        left: -15%;
    }
    .section1 .msj_flotante .text {
     font-size: 13px;
    }

    .section1 .msj_flotante .nube {
        max-width: 28%; 
    }
    .section2 .descripcion{
        max-width: 47%;
    }
    .msj_flotante2 {
        width: 20%; 
        left: -28%;
        top: -28%;
    }
    .section2 .msj_flotante2 .nube2 {
        height: 250px;
        max-width: 245px; 
    }
    .section2 .msj_flotante2 .text2 {
        font-size: 12px; 
        max-width: 100%;
        
    }

    .msj_flotante3 {
    top:-20% ;
    left: -20%;
    }
    .nube3 {
    width: 220px; 
    height: 220px;
    }
    .text3 {
    font-size: 13px; 
    }
    .volumen{
        z-index: 500;
        top: 30px;
    }
}

@media only screen and (max-width: 580px) {
    .section1 .msj_flotante {
        left: -45%;
    }
    .section1 .msj_flotante .text {
     font-size: 13px;
    }

    .section1 .msj_flotante .nube {
        max-width: 26%; 
    }
    .section2 .descripcion{
        max-width: 50%;
    }
    .msj_flotante2 {
        width: 20%; 
        left: -28%;
        top: -28%;
    }
    .section2 .msj_flotante2 .nube2 {
        height: 210px;
        max-width: 205px; 
    }
    .section2 .msj_flotante2 .text2 {
        transform: translateY(-20PX);
        font-size: 11px; 
        width: 130px;
        max-width: 100%;
        
    }

    .msj_flotante3 {
    top:-28% ;
    left: -20%;
    }
    .nube3 {
    width: 200px; 
    height: 200px;
    }
    .text3 {
    font-size: 13px; 
    }
    .volumen{
        z-index: 500;
        top: 30px;
    }
}



@media only screen and (max-width: 426px) {
    .section1 .msj_flotante {
        left: -50%;
    }
    .section1 .msj_flotante .text {
     font-size: 10px;
    }
    .section1 .msj_flotante .nube {
        max-width: 30%; 
    }
    .section2 .descripcion{
        max-width: 90%;
        transform: translateY(-20%);
    }
    .msj_flotante2 {
        width: 40%; 
        left: -18%;
        top: -38%;
    }
    .next-arrow{
       font-size:12px; 
    }
    .section2 .msj_flotante2 .nube2 {
        height: 150px;
        max-width: 150px; 
        
    }
    .section2 .msj_flotante2 .text2 {
        font-size: 9px; 
        max-width: 100%;
        
    }

    .msj_flotante3 {
    top:-30% ;
    left: -20%;
    }
    .nube3 {
    width: 130px; 
    height: 180px;
    }
    .text3 {
    font-size: 10px; 
    }

    .card {
        max-width: 350px;
        transform: translateX(54%);

    }
}